*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Lato', sans-serif;
	background-color: #819A9F
}

button{
	font-size: 1.5vw;
	color: #B0C8C8;
	opacity: 0.6;
	background-color: #71888E;
	padding: 0.2vw 0.8vw 0.3vw 0.9vw;
	border: 0;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
}

button:hover{
	opacity: 1;
	border-color: black;
	border: 3px;
	//outline: 2px;
	//outline-color: black;
	//font-size: 1.4vw;
}

button.login{
	margin-left: 62.26vw;
}


input{
	background-color: #CDDFE3;
	padding: 10px;
	margin: 5px 0 22px 0;
    display: block;
    border: none;
	border-radius: 5px;
}

input[type=text],input[type=password], input[type=username]{
	width: 95%;
}

input[type=checkbox]{
	display: inline-block;
	//margin-bottom: 20px;
}

input:focus{
	background-color: #e5faff; 
	outline: none;
}

.f_pword a{
	color: #777777;
	font-size: 0.8vw;
}
.f_pword a:hover{
	color: #000000;
}

.logo{
	background-color: #3B4D55;
	opacity: 0.3;
	border-radius: 0.7vw;
	width: 14.7vw;
	color: #B7CCCB;
	font-weight: bold;
	font-size: 3.1vw;
	letter-spacing: 0.1vw;
	padding: 0.2vw 0.5vw 0.3vw 0.6vw;
	margin-top: 2.6vw;
	margin-bottom: 2.6vw;
	margin-left: 34vw;
}

.logo a{
	color: #B7CCCB;
}

.info{
	background-color: #B7CCCA;
	color: #47525E;
	font-size: 1.8vw;
	width: 50vw;
	margin: auto;
	padding: 0.2vw;
	display: flex;
	justify-content: center;
}

.bunny{
	background-color: #B7CCCA;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 50vw;
	height: 30vw;
}


.jb{
	background-color: #B7CCCA;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

.magic{
	background-color: #B7CCCA;
	color: #47525E;
	font-size: 1.1vw;
	padding-bottom: 5px;
	width: 50vw;
	margin: auto;
	display: flex;
	justify-content: center;
}

nav{
	margin: auto;
	width: 50vw;
	height: 1vw;
}

.bottomnav{
	background-color: #50646D;
	font-size: 1.1vw;
	margin-top: 4vw;
	margin-bottom: 2vw;
	padding-bottom: 0.1vw;
}

.bottomnav a{
	color: #DAFEFD;
	padding-left: 1.75vw;
	padding-right: 1.75vw;
	margin-right: 0.2vw;
	margin-left: 0.2vw;
	padding-bottom: 0.1vw;
}

.bottomnav a:first-child{
	margin-left: 0px;
}

.bottomnav a:last-child{
	margin-right: 0px;
}

.bottomnav a:hover{
	background-color: #98b1b1
}






/* modal menu ================================================================== */


/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 30%;
  margin-top: 10px;
  color: #B0C8C8;
  background-color: #71888E;
}

.signupbtn{
  margin-left: 10%;
}
.cancelbtn{
  margin-left: 15%;
}

/* Add padding to container elements */
.container {
    padding: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #71888E;
	opacity: 0.95;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #B7CCCA;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #CDDFE3;
	border-radius: 15px;
    width: 35%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #71888E;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* modal menu ================================================================== */